<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>SportsFacilityManager</servlet-name>
		<servlet-class>sfm.SportsFacilityManagerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SportsFacilityManager</servlet-name>
		<url-pattern>/sportsfacilitymanager</url-pattern>
	</servlet-mapping>
	
	 <servlet>
        <servlet-name>sign</servlet-name>
        <servlet-class>sfm.SfmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sign</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>plan</servlet-name>
        <servlet-class>sfm.PlayerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>plan</servlet-name>
        <url-pattern>/plan</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>fac</servlet-name>
        <servlet-class>sfm.FacilityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fac</servlet-name>
        <url-pattern>/fac</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>sfm.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    
     <filter>
                <filter-name>ObjectifyFilter</filter-name>
                <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
        </filter>

        <filter-mapping>
                <filter-name>ObjectifyFilter</filter-name>
                <url-pattern>/*</url-pattern>
        </filter-mapping>
        
	
	<welcome-file-list>
		<welcome-file>sfm.jsp</welcome-file>
	</welcome-file-list>
		
	
</web-app>
